.HeaderBackground {
    background-color: transparent;
}

.show {
    display: block;
}

.bg-custom-1 {
    background-color: #E1D516;
    border-color: #E1D516;
}

.bg-custom-2 {
    background-color: #E1D516;
    border-color: #E1D516;
}

.bg-custom-3 {
    background-color: #16A0C7!important;
    border-color: #16A0C7!important;
    color: white;
}
.logout-btn{
    border:1px solid #fff;
}
.bg-custom-3 a {
    text-decoration: none;
    color: white;
}

.hide {
    display: none;
}

.primary-navbar {
    width: 100%;
}

.navegacion {
    color: white;
}

.pagina {
    width: 250px;
    object-fit: cover;
}

.fondo {
    background-color:   #FE6721;
    width: 100%;
}

.searchBar {
    width: 50%;
}

.nav_bar {}

.button_form {
    width: 20%
}

.input_form {
    width: 70%!important;
}

.span {
    font-size: 20px!important;
    padding: 10px!important;
}

.navbar-links {
    display: flex;
    justify-content: center;
}

@media(max-width:992px) {
    .navbar-nav {
        flex-direction: row!important;
    }
}

@media (max-width:500px) {
    .pagina {
        width: 150px;
    }
    .justify-content-end {
        justify-content: space-around!important;
    }
}