.HeaderBackground {
    background-color: transparent;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.navegacion {
    color: white;
}

.pagina {
    width: 250px;
    object-fit: cover;
}

.fondo {
    background-color: rgba(0, 0, 0, 0.425);
}

.searchBar {
    width: 500px;
}

@media (max-width:500px) {
    .pagina {
        width: 150px;
    }
}