.father {
    width: 100%;
}

.childrenone img {
    width: 100%;
    object-fit: cover;
}

.btn-primary {
    background-color: #A5D8FF!important;
    border-color: #A5D8FF!important;
}

.childrenone h2 {
    text-align: center;
    padding: 3%;
}

.container_2_home {
    display: flex;
    width: 100%;
}

.childrenone {
    width: 20%;
    background-color: #AFD0D6;
    padding: 10px;
}

.childrentwo {
    width: 80%;
    padding: 20px;
}

.conttt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.container_1_home {
    height: 500px;
}

.container_1_home h3,
.container_1_home p {
    color: #36393B;
}

.img-slider {
    height: 500px;
    object-fit: cover;
}

.products {
    display: block;
}

.products_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.children_products {
    width: 20%;
}

@media (max-width:900px) {
    .childrenone {
        display: none;
    }
    .childrentwo {
        width: 100%;
    }
}

@media (max-width:600px) {
    .conttt {
        grid-template-columns: repeat(1, 1fr);
    }
}