.container_login {
    width: 500px;
    margin: auto;
    padding: 20px 30px 20px 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

.container_login h2 {
    text-align: center;
}

@media (max-width:500px) {
    .container_login {
        width: 100%;
        padding: 10px;
    }
}