.product_father {
    justify-content: center;
    border-radius: 12px;
    width: 50%;
    margin: auto;
    background-color: #36393B;
}

.bg-cust {
    background-color: #16A0C7!important;
    border: 1px solid #16A0C7!important;
    color: white!important;
}

.container_head {
    display: flex;
    justify-content: space-between;
}

.product_container {
    display: flex;
    justify-content: center;
    background-color: #36393B;
    border-radius: 12px;
    width: 100%;
    margin: auto;
}

.col_1 {}

.col_2 {
    padding: 10px;
    color: white;
}